h1, .h1 {
    font-size: calc(1.4rem + 0.7vw);
    padding-bottom: 9px;
}

h2, .h2 {
    font-size: calc(1.2rem + 0.65vw);
}

.create-btn {
    font-size: calc(1.1rem + 0.65vw);
}

.create-btn a{
    color:rgb(161, 160, 160);
    font-size: calc(1.1rem + 0.65vw);
    font-weight: normal;
    float: right;
}

.create-btn a:hover {
    color: gray;
}

.create-server-info p {
    font-size: x-small !important;
}

.create-server-info a {
    color: blue;
}

.group-name-container {
    display: flex;
    align-items: center;
}

.group-name-container a img{
    width: calc(2.5rem + 0.65vw);
    height: calc(2.5rem + 0.65vw);
    cursor: pointer;
}

.group-name {
    font-size: calc(1rem + 0.62vw);
}

.group-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.config-container {
    display: flex;
    align-items: center;
}

.config a img{
    width: calc(2rem + 0.65vw);
    height: calc(2rem + 0.65vw);
    cursor: pointer;
}

.config {
    margin-left: calc(0.65vw);
    font-size: calc(1rem + 0.62vw);
}

.form-font-small {
    font-size: calc(1.1rem + 0.3vw) !important;
}

.form-label-font {
    font-size: calc(1.2rem + 0.3vw) !important;
}

.form-group-inline {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
.form-group-inline label {
    flex-basis: 30%;
    font-size: small;
}
.form-group-inline input {
    flex-basis: 70%;
}

.form-group-inline select {
    flex-basis: 70%;
}

.form-group-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.form-group-grid label {
    font-size: small;
}

.form-group-grid input {
    flex-basis: 14%;
    margin-left: 0%;
}

.endpoint-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    /* font-weight: bold; */
}

.endpoint-status img {
    width: 4%;
    height: 4%;
    cursor: pointer;
}

.endpoint-status-title {
    display: flex;
    justify-content: space-between;
}

.endpoint-status-title p {
    font-size: calc(1.2rem + 0.3vw);
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 5px;
}

.info-icon {
    width: calc(3rem);
    height: calc(3rem);
}

.python-font {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}


.endpoint-status-table {
    display: flex;
    flex-direction: column;
}
  
.endpoint-status-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cell {
    padding: 0px;
}

.first-column {
    width: 70%;
}

.second-column, .third-column {
    width: 5%;
}
  
.endpoint-status-cell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(1.2rem + 0.25vw);
}

.endpoint-status-cell img {
    width: calc(3rem);
    height: calc(3rem);
    cursor: pointer;
}

.task-info-container {
    display: grid;
    grid-template-columns: 22% 26% 14% 8% 8% 8% 11%;
    grid-gap: 0.4%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.task-info-header {
    font-weight: bold;
    font-size: 16px;
}

.task-info-content {
    font-size: 14px;
}

.task-info-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: #333;
}

.task-info-item:nth-child(7n + 1) {
    grid-column: 1 / 2;
}

.task-info-item:nth-child(7n + 2) {
    grid-column: 2 / 3;
}

.task-info-item:nth-child(7n + 3) {
    grid-column: 3 / 4;
}

.task-info-item:nth-child(7n + 4) {
    grid-column: 4 / 5;
}

.task-info-item:nth-child(7n + 5) {
    grid-column: 5 / 6;
}

.task-info-item:nth-child(7n + 6) {
    grid-column: 6 / 7;
}

.task-info-item:nth-child(7n + 7) {
    grid-column: 7 / 8;
}

.endpoint-info-container {
    display: grid;
    grid-template-columns: 22% 32% 29% 16.5%;
    grid-gap: 0.4%;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
}

.endpoint-info-header {
    font-weight: bold;
    font-size: 16px;
}

.endpoint-info-content {
    font-size: 14px;
}

.endpoint-info-content img {
    width: 30px;
}

.endpoint-info-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: #333;
    display: flex;
    align-items: center;
}

.endpoint-info-item:nth-child(4n + 1) {
    grid-column: 1 / 2;
}

.endpoint-info-item:nth-child(4n + 2) {
    grid-column: 2 / 3;
}

.endpoint-info-item:nth-child(4n + 3) {
    grid-column: 3 / 4;
}

.endpoint-info-item:nth-child(4n + 4) {
    grid-column: 4 / 5;
}
