{%extends "base.jinja2"%}

{%block title%}Federation Report{%endblock%}


{%block body%}
  {%include "header.jinja2"%}
  <div class="container" id="report-content">
  {%include "comp-report/comp_report_template.jinja2"%}
  </div>

{%endblock%}

