{%extends "base.jinja2"%}

{%block title%}Client Information{%endblock%}

{%block body%}
  {%include "header.jinja2"%}
  <div class="container">

    <div class="page-header">
      <h1>Client Information</h1>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form role="presentation">
          <div class="form-group-inline">
            <label>Endpoint ID</label>
            <input
              type="text"
              id="client-info-endpoint-id"
              name="endpoint_id"
              class="form-control"
              value="No endpoint ID specified"
              required="required"
              tabindex="1"
              disabled="True"
            >
          </div>

          <div class="form-group-inline">
            <label>
                Dataloader 
                <a href="{{url_for('download_file', file_type='dataloader', client_group_id=client_group_id)}}">
                    <img src="{{url_for('static', filename='img/download.png')}}" style="width:18%; cursor:pointer;display:none;" id="client-info-dataloader-download"/>
                </a>
            </label>
            <input
              type="text"
              id="client-info-dataloader"
              name="dataloader"
              class="form-control"
              value="No dataloader uploaded"
              required="required"
              tabindex="3"
              disabled="True"
            >
            
          </div>

          <div class="form-group-inline">
            <label>Device Type</label>
            <input
              type="text"
              id="client-info-device-type"
              name="device"
              class="form-control"
              value="No device type specified"
              required="required"
              tabindex="4"
              disabled="True"
            >
          </div>

          <div class="form-group-inline">
            <label>Output Directory</label>
            <input
              type="text"
              id="client-info-output-directory"
              name="output_dir"
              class="form-control"
              value="No output directory specified"
              required="required"
              tabindex="5"
              disabled="True"
            >
          </div>
        </form>
        <div class="form-group">
          <button class="btn btn-secondary" onclick="window.location.href='{{ url_for( 'dashboard') }}';">Back</button>
        </div>
      </div>
    </div>

  </div> <!-- container -->

  <script>
  $(document).ready(function(){
    $.ajax({
        url: '/get-client-info',
        method: 'GET',
        data: {client_group_id: "{{client_group_id}}"},
        contentType: 'multipart/form-data',
        success: function(resp){
            document.getElementById('client-info-endpoint-id').value = resp['endpoint_id'];
            document.getElementById('client-info-dataloader').value = 'dataloader.py';
            document.getElementById('client-info-device-type').value = resp['device'];
            document.getElementById('client-info-output-directory').value = resp['output_dir'];
            document.getElementById('client-info-dataloader-download').style.display = 'inline';
        },
        error: function(xhr, status, err) {
            console.log('This user does not upload any configuration.')
            console.log(`Error: ${xhr.status} ${err}`);
        }
      })
  })
  </script>

{%endblock%}
