{%extends "base.jinja2"%}

{%block title%}Home{%endblock%}

{%block body%}
<!-- Page Header -->
<!-- Set background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({{url_for('static', filename='img/home-bg.jpg')}})">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Federated Learning as a Service</h1>
          <hr class="small">
          <span class="subheading">Training Federated Learning Models using Globus and funcX.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  {%include 'messages.jinja2'%}

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div class="post-preview">
        <a href="https://funcx.org" target="_blank" rel="noopener">
          <h2 class="post-title">funcX</h2>
          <h3 class="post-subtitle">Federated Function as a Service.</h3>
        </a>
      </div>
      <hr />
      <div class="post-preview">
        <a href="https://www.palisadex.net/appfl/" target="_blank" rel="noopener">
          <h2 class="post-title">APPFL Framework</h2>
          <h3 class="post-subtitle">Argonne Privacy Preserving Federated Learning Framework.</h3>
        </a>
      </div>
      <hr />
      <div class="post-preview">
        <a href="https://docs.globus.org/faq/" target="_blank" rel="noopener">
          <h2 class="post-title">Frequently Asked Questions</h2>
          <h3 class="post-subtitle">When all else fails...</h3>
        </a>
      </div>
      <hr />

      <!-- Pager -->
      {# <ul class="pager">
        <li class="next">
          <a href="https://docs.globus.org/" target="_blank" rel="noopener">
            Learn more &rarr;
          </a>
        </li>
      </ul> #}
    </div>
  </div>
</div>
<hr />
{%endblock%}
