{%extends "base.jinja2"%}

{%block title%}Home{%endblock%}

{%block body%}
<!-- Page Header -->
<!-- Set background image for this header on the line below. -->
<header class="intro-header" style="background-image: url({{url_for('static', filename='img/home-bg.jpg')}})">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Privacy Preserving Federated Learning as a Service</h1>
          <hr class="small">
          <span class="subheading">Training Privacy Preserving Federated Learning Models using Globus and funcX.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  {%include 'messages.jinja2'%}

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {# <div class="post-preview">
        <a href="https://funcx.org" target="_blank" rel="noopener">
          <h2 class="post-title">funcX</h2>
          <h3 class="post-subtitle">Federated Function as a Service.</h3>
        </a>
      </div> #}
      
      <hr />
      <div class="post-preview">
        <div>
          <h2 class="post-title">PALISADE-X Objectives</h2>
          <h3 class="post-subtitle" style="font-size:22px;"><li>Develop Argonne PPFL (APPFL) framework that implements differentially private (DP) algorithms for training federated learning (FL) models with the biomedical datasets from multiple organizations and</li></h3>
          <h3 class="post-subtitle" style="font-size:22px;"><li>Integrate, deploy, and demonstrate the proposed framework with our existing secure computing and data infrastructure.</li></h3>
          <h3 class="post-subtitle" style="font-size:22px;">To accomplish our objectives, we  created a privacy-preserving AI/ML architecture, which will allow us to validate APPFL framework with real-world, multi-modal biomedical data repositories that align with the NIH Bridge2AI pilot flagship data generation projects.</h3>
        </a>
      </div>
      <hr />
      <div class="post-preview">
        <a href="https://www.palisadex.net/appfl/" target="_blank" rel="noopener">
          <h2 class="post-title">APPFL Framework</h2>
          <h3 class="post-subtitle">Argonne Privacy Preserving Federated Learning Framework.</h3>
        </a>
      </div>
      <hr />

      <!-- Pager -->
      {# <ul class="pager">
        <li class="next">
          <a href="https://docs.globus.org/" target="_blank" rel="noopener">
            Learn more &rarr;
          </a>
        </li>
      </ul> #}
    </div>
  </div>
</div>
<hr />
{%endblock%}
